<!DOCTYPE html>
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>查询结果</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/queryDetail.css"/>
</head>
<body>
<h1>快递</h1>
<div class="com-info">
  <span class="info1">中通</span>
  <span class="info2">单号：778198047779</span>
</div>
<div>
  <ul class="result-list">
    <li class="first"><dl class="col1"><dt>2013.11.11</dt><dd>02:49</dd></dl><span class="col2"><span class="line1"></span><span class="line2"></span><span class="point"></span></span><span class="col3">[石井二站] 石井二站(禤周生) 已收件 进入公司分捡</span></li>
    <li class=""><dl class="col1"><dt>2013.11.11</dt><dd>02:58</dd></dl><span class="col2"><span class="line1"></span><span class="line2"></span><span class="point"></span></span><span class="col3">[石井二站] 快件离开 石井二站 已发往深圳中心</span></li>
    <li class=""><dl class="col1"><dt>2013.11.11</dt><dd>03:05</dd></dl><span class="col2"><span class="line1"></span><span class="line2"></span><span class="point"></span></span><span class="col3">[石井二站] 在 石井二站 装包并发往广州中心</span></li>
    <li class=""><dl class="col1"><dt>2013.11.11</dt><dd>09:35</dd></dl><span class="col2"><span class="line1"></span><span class="line2"></span><span class="point"></span></span><span class="col3">[广州中心] 在 广州中心 装包并发往深圳中心</span></li>
    <li class=""><dl class="col1"><dt>2013.11.11</dt><dd>16:39</dd></dl><span class="col2"><span class="line1"></span><span class="line2"></span><span class="point"></span></span><span class="col3">[深圳中心] 所在包 到达深圳中心 </span></li>
    <li class=""><dl class="col1"><dt>2013.11.11</dt><dd>16:41</dd></dl><span class="col2"><span class="line1"></span><span class="line2"></span><span class="point"></span></span><span class="col3">[深圳中心] 快件到达 深圳中心 正在分捡中 上一站是 广州中心</span></li>
    <li class=""><dl class="col1"><dt>2013.11.11</dt><dd>16:55</dd></dl><span class="col2"><span class="line1"></span><span class="line2"></span><span class="point"></span></span><span class="col3">[深圳中心] 快件离开 深圳中心 已发往罗湖渔民村</span></li>
    <li class=""><dl class="col1"><dt>2013.11.12</dt><dd>07:48</dd></dl><span class="col2"><span class="line1"></span><span class="line2"></span><span class="point"></span></span><span class="col3">[罗湖渔民村] 快件到达 罗湖渔民村 正在分捡中 上一站是 深圳中心</span></li>
    <li class=""><dl class="col1"><dt>2013.11.12</dt><dd>09:49</dd></dl><span class="col2"><span class="line1"></span><span class="line2"></span><span class="point"></span></span><span class="col3">[罗湖渔民村] 冯祖义13823335148 正在派件中</span></li>
    <li class=" last"><dl class="col1"><dt>2013.11.12</dt><dd>13:51</dd></dl><span class="col2"><span class="line1"></span><span class="line2"></span><span class="point"></span></span><span class="col3">[罗湖渔民村] 签收人是 拍照签收</span></li>
  </ul>
</div>

<div class="copyright">copyright2013 @快递100 kuaidi100.com</div>

</body></html>